// Constructors and destructors
{% for constructor in constructors %}
{{ constructor }}
{% endfor %}

// Bitfields
{% for bitfield in bitfields %}
{{ bitfield }}
{% endfor %}

// Function attributes
{% for func in function_attributes %}
{{ func }}
{% endfor %}

// Friend declarations
{% for friend in friend_declarations %}
{{ friend }}
{% endfor %} 